.card {
  background-color: black;
  color: white;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.textWrapper {
  padding: 1rem 1.25rem;
  text-align: center;
}

.textWrapper a { font-weight: bold; }
.textWrapper a:link { color: white; }
.textWrapper a:visited { color: white; }
.textWrapper a:hover { color: #ccc; }
.textWrapper a:active { color: white; }