// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-color: #212529;

$grid-gutter-width: 1.875rem; // to match old site (remove when old site is gone)

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$navbar-nav-link-padding-x: 1rem;

$dropdown-item-padding-x: 1.5rem;

$theme-colors: (
  "primary":   #0d6efd,
  "secondary": #6c757d,
  "success":   #198754,
  "info":      #0dcaf0,
  "warning":   #ffc107,
  "danger":    #dc3545,
  "light":     #f8f9fa,
  "dark":      #212529,
  "navy":      #2b2d42,
);

$headings-margin-bottom: 1rem;

// 3. Include remainder of required Bootstrap stylesheets
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/bootstrap";

// 5. Add additional custom code here

body {
  overflow-y: scroll; /* Show scrollbars */
}

.mainNav .navbar-nav > .nav-item .nav-link {
    text-transform: uppercase;
}

@include media-breakpoint-up(sm) {
  .mainNav.navbar-expand-sm .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}
@include media-breakpoint-up(md) {
  .mainNav.navbar-expand-md .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}
@include media-breakpoint-up(lg) {
  .mainNav.navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}
@include media-breakpoint-up(xl) {
  .mainNav.navbar-expand-xl .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}
@include media-breakpoint-up(xxl) {
  .mainNav.navbar-expand-xxl .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }
}

.mainNav .dropdown-menu { margin-top: 8px; }

.mainNav .navbar-nav > .nav-item {
  position: relative;
}

@include media-breakpoint-up(xl) {
  .mainNav .navbar-nav > .nav-item .nav-link.active .active-indicator {
    position: absolute;
    width: calc(100% - 14px);
    height: 5px;
    left: 7px;
    top: 46px;
    background: #e10019;
    background: linear-gradient(to right, #e10019, #b70404);
  }
  .mainNav .navbar-nav > .nav-item:first-of-type .nav-link.active .active-indicator {
    width: 100%;
    left: -7px;
  }
}

main > section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@include media-breakpoint-up(md) {
  main > section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

main > section:nth-of-type(2n) {
  background-color: rgb(250, 250, 250);
}

main > section:nth-of-type(2n+1) {
  background-color: white;
}

.htmlPreview > p:last-of-type { margin-bottom: 0 }


.mediaContent { max-width: 100%; }
@include media-breakpoint-up(sm) {
  // .mediaContent { max-width: 540px; }
  .mediaContent { max-width: 510px; }
}
@include media-breakpoint-up(md) {
  // .mediaContent { max-width: 720px; }
  .mediaContent { max-width: 690px; }
}
@include media-breakpoint-up(lg) {
  // .mediaContent { max-width: 960px; }
  .mediaContent { max-width: 930px; }
}
@include media-breakpoint-up(xl) {
  // .mediaContent { max-width: 1140px; }
  .mediaContent { max-width: 1110px; }
}
@include media-breakpoint-up(xxl) {
  // .mediaContent { max-width: 1302px; }
  .mediaContent { max-width: 1290px; }
}

// @media(min-width: 992px) {
  // .mainNav.navbar-expand-lg {
  //   .navbar-nav {
  //     .nav-link {
  //       padding-right: 1rem;
  //       padding-left: 0rem;
  //     }
  //   }
  // }
// }
