$enable-shadows: true;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-color: #212529;

$grid-gutter-width: 1.875rem; // to match old site (remove when old site is gone)

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$navbar-nav-link-padding-x: 1rem;

$dropdown-item-padding-x: 1.5rem;

$theme-colors: (
  "primary":   #0d6efd,
  "secondary": #6c757d,
  "success":   #198754,
  "info":      #0dcaf0,
  "warning":   #ffc107,
  "danger":    #dc3545,
  "light":     #f8f9fa,
  "dark":      #212529,
  "navy":      #2b2d42,
  "red":       #ed1c35,
);

$headings-margin-bottom: 1rem;

$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// 3. Include remainder of required Bootstrap stylesheets
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
// @import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/transitions";
// @import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/offcanvas";
// @import "../node_modules/bootstrap/scss/placeholders";

@import "../node_modules/bootstrap/scss/bootstrap";

// 5. Add additional custom code here

body {
  overflow-y: scroll; /* Show scrollbars */
  background-color: rgb(250, 250, 250);
  --scrollbar-width: calc(100vw - 100%);
}

.mainNav .navbar-nav > .nav-item .nav-link {
    text-transform: uppercase;
}

// outdent the nav menu to compensate for the nav-item padding
@include media-breakpoint-up(md) {
  .mainNav .navbar-nav { margin-left: calc(var(--bs-navbar-nav-link-padding-x) * -1); }
}

// @include media-breakpoint-up(sm) {
//   .mainNav.navbar-expand-sm .navbar-nav .nav-item:first-child .nav-link {
//     padding-left: 0;
//   }
// }
// @include media-breakpoint-up(md) {
//   .mainNav.navbar-expand-md .navbar-nav .nav-item:first-child .nav-link {
//     padding-left: 0;
//   }
// }
// @include media-breakpoint-up(lg) {
//   .mainNav.navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link {
//     padding-left: 0;
//   }
// }
// @include media-breakpoint-up(xl) {
//   .mainNav.navbar-expand-xl .navbar-nav .nav-item:first-child .nav-link {
//     padding-left: 0;
//   }
// }
// @include media-breakpoint-up(xxl) {
//   .mainNav.navbar-expand-xxl .navbar-nav .nav-item:first-child .nav-link {
//     padding-left: 0;
//   }
// }

.mainNav .dropdown-menu { margin-top: 8px; }

.mainNav .navbar-nav > .nav-item {
  position: relative;
}

@include media-breakpoint-up(xl) {
  .mainNav .navbar-nav > .nav-item .nav-link.active .active-indicator {
    position: absolute;
    width: calc(100% - 14px);
    height: 5px;
    left: 7px;
    top: 46px;
    background: #e10019;
    background: linear-gradient(to right, #e10019, #b70404);
  }
  // .mainNav .navbar-nav > .nav-item:first-of-type .nav-link.active .active-indicator {
  //   width: 100%;
  //   left: -7px;
  // }
}

main > section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  // overflow: hidden; /* what was this for? */
}

@include media-breakpoint-up(md) {
  main > section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

main > section:nth-of-type(2n) {
  background-color: white;
}

main > section:nth-of-type(2n+1) {
  background-color: rgb(250, 250, 250);
}

.menuScrollOffset {
  scroll-margin-top: 56px;
}

main > section > .container {
  position: relative;
}

.htmlPreview > *:last-child { margin-bottom: 0 }

.text-shadow {
  text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
}

.btn-red {
  color: white !important;
}

.bg-f1 {
  background-color: #f1f1f1 !important;
}